<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PG</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Hello World</h1>
        <table>
            <tr>
                <td>No.</td>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Image</td>
                <td>Video</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Dell</td>
                <td><p>It is a good product!</p></td>
                <td>300</td>
                <td>dell.png</td>
                <td><p>172371637</p></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Dell</td>
                <td><p>It is a good product!</p></td>
                <td>300</td>
                <td>dell.png</td>
                <td><p>172371637</p></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Dell</td>
                <td><p>It is a good product!</p></td>
                <td>300</td>
                <td>dell.png</td>
                <td><p>172371637</p></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Dell</td>
                <td><p>It is a good product!</p></td>
                <td>300</td>
                <td>dell.png</td>
                <td><p>172371637</p></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Dell</td>
                <td><p>It is a good product!</p></td>
                <td>300</td>
                <td>dell.png</td>
                <td><p>172371637</p></td>
            </tr>
        </table>
    </body>
</html> 